#stars {
  background: #0d133a;
  width: 100%;
  height: 100%;
}

#stafield {
  position: absolute;
  opacity: 0;
  width: 150%;
  height: 150%;
  z-index: $stars-z-index;
  transform-origin: center center;
  animation: stars_animation 120s linear infinite;
}

@keyframes stars_animation {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0;
    transform: rotate(180deg);
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}
