$stars-z-index: 0;
$sky-z-index: $stars-z-index + 1;
$suns-z-index: $sky-z-index + 1;
$mountains-z-index: $suns-z-index + 1;
$landscape-z-index: $mountains-z-index + 1;
$shadows-z-index: $landscape-z-index + 1;
$background-landscape-elements-z-index: $shadows-z-index + 1;
$landscape-elements-z-index: $background-landscape-elements-z-index + 1;
$footer-z-index: $landscape-elements-z-index + 1;

// Suns
$tatoo1-radius: 7vw;
$tatoo2-radius: 5vw;
